<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    List of contributors: https://github.com/MSFOCBA
    Please refer to the LICENSE.md and LICENSES-DEP.md for complete licenses.
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<div ng-controller="dossierProgramsMainController" id="DossierPanel" class="row">
    <div id="headerDossierPanel" class="col-md-12 headerPanel">
        <h1>{{ "dos_Programs" | translate }}</h1>
        <p>{{ "dos_NumberOfPrograms" | translate }}: {{ programs.programs.length }}</p>
        <div class="col-md-2">
            <select
                class="form-control col-md-2"
                ng-options="program.displayName for program in programs.programs | orderBy: 'displayName'"
                name="selectProgram"
                id="drpBoxServices"
                ng-model="selectedProgram"
            >
                <option value="" disabled selected>Select a program</option>
            </select>
        </div>
    </div>

    <div class="col-md-12" ng-if="selectedProgram">
        <div id="DossierTitleContainer" class="row">
            <br />
            <h1>{{ selectedProgram.displayName }}</h1>
        </div>
        <div>
            <button
                class="btn btn-link"
                ng-controller="dossiersProgramExport"
                ng-click="button.clicked = true; exportToExcel();"
            >
                <span class="glyphicon glyphicon-share"></span> {{ "dos_exportToExcel" | translate }}
            </button>
        </div>
        <br />

        <div id="tocContainer" class="row">
            <h3 style="text-decoration: underline">{{ "dos_Table of Content" | translate }}</h3>
            <ul ng-if="selectedProgram.displayDescription">
                <li>
                    <big
                        ><b
                            ><a href="" class="pageref" ng-click='scrollTo("DossierTextTitleContainer",22)'>{{
                                "dos_Description of Program" | translate
                            }}</a></b
                        ></big
                    >
                </li>
            </ul>
            <ul ng-repeat="i in toc.entries | orderBy:'parent.index'">
                <li>
                    <big
                        ><b
                            ><a href="" class="pageref" ng-click="scrollTo(i.parent.id)" target="_self">{{
                                i.parent.displayName
                            }}</a></b
                        ></big
                    >
                    <ul ng-repeat="j in i.children">
                        <li>
                            <a href="" class="pageref" ng-click="scrollTo(j.id)">{{ j.displayName }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


        <div id="DossierTextTitleContainer" ng-if="selectedProgram.displayDescription" class="row headerGroup">
            <br />
            <h1>{{ "dos_Description of Program" | translate }}</h1>
            <div ng-bind-html="trustAsHtml(selectedProgram.displayDescription)"></div>
        </div>

        <div class="col-md-12" id="trackedEntityAttributeContainer" ng-controller="dossiersProgramTEAController">
            <div ng-if="trackedEntityAttributes.length > 0" class="col-md-12">
                <h3 class="section" id="trackedEntityAttributes">{{ "dos_TrackedEntityAttributes" | translate }}</h3>
                <p>
                    {{ "dos_TrackedEntityAttributesNumber" | translate }}:
                    {{ trackedEntityAttributes.length }}
                </p>
                <table class="sectionElementsTable table table-striped">
                    <thead>
                        <tr>
                            <th>{{ "dos_NameElement" | translate }}</th>
                            <th>{{ "dos_FormNameElement" | translate }}</th>
                            <th>{{ "dos_DescriptionElement" | translate }}</th>
                            <th>{{ "dos_ValueType" | translate }}</th>
                            <th>{{ "dos_AggregationType" | translate }}</th>
                            <th>{{ "dos_Mandatory" | translate }}</th>
                            <th>{{ "dos_Visibility" | translate }}</th>
                            <th>{{ "dos_OptionSet" | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tea in trackedEntityAttributes">
                            <td>{{ tea.name }}</td>
                            <td>{{ tea.formName }}</td>
                            <td>{{ tea.description }}</td>
                            <td>{{ tea.valueType }}</td>
                            <td>{{ tea.aggregationType }}</td>
                            <td>{{ tea.mandatory }}</td>
                            <td>
                                <ul ng-if="dataElement.visibility">
                                    <li ng-repeat="visibility in dataElement.visibility">
                                        <div>{{ visibility.type }}: {{ visibility.name }}</div>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <div ng-if="tea.optionSet.options">
                                    <p>{{ "dos_OptionSetName" | translate }}: {{ tea.optionSet.name }}</p>
                                    <select class="form-control col-md-2">
                                        <option selected>{{ "dos_SeeOptions" | translate }}</option>
                                        <option ng-repeat="option in tea.optionSet.options">{{ option.name }}</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="stageContainer" ng-controller="dossiersProgramSectionController">
            <div class="col-md-12" ng-repeat="stage in stages | orderBy:'sortOrder'">
                <h2 class="stage" id="{{ stage.id }}">{{ stage.displayName }}</h2>
                <div class="col-md-12" ng-repeat="section in stage.programStageSections">
                    <h3 class="section" id="{{ section.id }}">{{ section.displayName }}</h3>
                    <p>{{ "Number of Elements in Section" | translate }}: {{ section.dataElements.length }}</p>
                    <table class="sectionElementsTable table table-striped">
                        <thead>
                            <tr>
                                <th>{{ "dos_NameElement" | translate }}</th>
                                <th>{{ "dos_FormNameElement" | translate }}</th>
                                <th>{{ "dos_DescriptionElement" | translate }}</th>
                                <th>{{ "dos_ValueType" | translate }}</th>
                                <th>{{ "dos_CalculationMode" | translate }}</th>
                                <th>{{ "dos_Mandatory" | translate }}</th>
                                <th>{{ "dos_Visibility" | translate }}</th>
                                <th>{{ "dos_Options" | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataElement in section.dataElements">
                                <td>{{ dataElement.displayName }}</td>
                                <td>{{ dataElement.displayFormName }}</td>
                                <td>{{ dataElement.displayDescription }}</td>
                                <td>{{ dataElement.valueType }}</td>
                                <td>
                                    <div ng-switch="dataElement.calcMode.type">
                                        <div ng-switch-when="programRule">
                                            {{ "dos_ProgramRule" | translate }}: 
                                            <ul ng-if="dataElement.calcMode.names">
                                                <li ng-repeat="name in dataElement.calcMode.names">
                                                    <div> {{ name }}</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div ng-switch-when="other">
                                            {{ "dos_Other" | translate }}
                                        </div>
                                        <div ng-switch-default>{{ "dos_DirectDataEntry" | translate }}</div>
                                    </div>
                                </td>
                                <td>{{ dataElement.compulsory }}</td>
                                <td>
                                    <ul ng-if="dataElement.visibility">
                                        <li ng-repeat="visibility in dataElement.visibility">
                                            <div>{{ visibility.type }}: {{ visibility.name }}</div>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <div ng-if="dataElement.optionSet.options">
                                        <p>{{ "dos_OptionSetName" | translate }}: {{ dataElement.optionSet.name }}</p>
                                        <select class="form-control col-md-2">
                                            <option selected>{{ "dos_SeeOptions" | translate }}</option>
                                            <option ng-repeat="option in dataElement.optionSet.options">
                                                {{ option.displayName }}
                                            </option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div
            class="col-md-12"
            ng-controller="dossiersProgramIndicatorController"
            id="IndicatorGroupsContainer"
            ng-show="programIndicators[0]"
        >
            <h2 class="indicatorGroup" id="indicators">{{ "Program indicators" | translate }}</h2>
            <div class="col-md-12">
                <p>{{ "Number of Indicators" | translate }}: {{ programIndicators.length }}</p>
                <table class="indicatorTable table table-striped">
                    <thead>
                        <tr>
                            <th>{{ "dos_NameElement" | translate }}</th>
                            <th>{{ "dos_DescriptionElement" | translate }}</th>
                            <th>{{ "dos_Filter" | translate }}</th>
                            <th>{{ "dos_Calculation" | translate }}</th>
                            <th>{{ "dos_AggregationType" | translate }}</th>
                            <th>{{ "dos_TypeOfProgramIndicator" | translate }}</th>
                            <th>{{ "dos_StagesReferenced" | translate }}</th>
                            <th>{{ "dos_Boundaries" | translate }}</th> 
                            <th>{{ "dos_Visualization" | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="indicator in programIndicators | orderBy: 'displayName'">
                            <td>{{ indicator.displayName }}</td>
                            <td>{{ indicator.displayDescription }}</td>
                            <td>{{ indicator.filter }}</td>
                            <td>{{ indicator.expression }}</td>
                            <td>{{ indicator.aggregationType }}</td>
                            <td>{{ indicator.analyticsType }}</td>
                            <td>
                                <ul ng-if="indicator.stageRef">
                                    <li ng-repeat="stageRef in indicator.stageRef">
                                        {{ stageRef }}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul ng-if="indicator.analyticsPeriodBoundaries">
                                    <li ng-repeat="boundarie in indicator.analyticsPeriodBoundaries">
                                        <div>{{ "dos_BoundaryTarget" | translate }}: {{ boundarie.boundaryTarget }}</div>
                                        <div ng-if="boundarie.analyticsPeriodBoundaryType">
                                            {{ "dos_AnalyticsBoundaryType" | translate }}:
                                            {{ boundarie.analyticsPeriodBoundaryType }}
                                        </div>
                                        <div ng-if="boundarie.offsetPeriods">
                                            {{ "dos_OffsetPeriod" | translate }}:
                                            {{ boundarie.offsetPeriods }}
                                        </div>
                                        <div ng-if="boundarie.offsetPeoffsetPeriodTyperiods">
                                            {{ "dos_PeriodType" | translate }}: {{ boundarie.offsetPeriodType }}
                                        </div>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <a
                                    ng-controller="makeIndicatorVisualizations"
                                    href=""
                                    ng-click="getTable(
                                        indicator.displayName,
                                        indicator.id,
                                        indicator.rowItems
                                        )"
                                    ><img src="./assets/img/pivottable.png" alt="View Table" width="15" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-12" id="indicatorContainer" ng-controller="dossierProgramGlobalIndicatorController">
            <div ng-if="indicators.length > 0" class="col-md-12">
                <h3 class="section" id="indicators">{{ "dos_Indicators" | translate }}</h3>
                <table class="sectionElementsTable table table-striped">
                    <thead>
                        <tr>
                            <th>{{ "dos_NameElement" | translate }}</th>
                            <th>{{ "dos_DescriptionElement" | translate }}</th>
                            <th>{{ "dos_Type" | translate }}</th>
                            <th>{{ "dos_NumeratorIndicator" | translate }}</th>
                            <th>{{ "dos_DenominatorIndicator" | translate }}</th>
                            <th>{{ "dos_StagesReferenced" | translate }}</th>
                            <th>{{ "dos_Visualization" | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="indicator in indicators |  orderBy: 'displayName'">
                            <td>{{ indicator.displayName }}</td>
                            <td>{{ indicator.displayDescription }}</td>
                            <td>{{ indicator.indicatorType.displayName }}</td>
                            <td>{{ indicator.numerator }}</td>
                            <td>{{ indicator.denominator }}</td>
                            <td>
                                <ul ng-if="indicator.stageRef">
                                    <li ng-repeat="stageRef in indicator.stageRef">
                                        {{ stageRef }}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <a
                                    ng-controller="makeIndicatorVisualizations"
                                    href=""
                                    ng-click="getTable(
                                        indicator.displayName,
                                        indicator.id,
                                        indicator.rowItems
                                        )"
                                    ><img src="./assets/img/pivottable.png" alt="View Table" width="15" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-12" id="RuleContainer" ng-controller="dossiersProgramRuleController">
            <div ng-if="rules.length > 0" class="col-md-12">
                <h3 class="section" id="rules">{{ "Program Rules" | translate }}</h3>
                <p>{{ "Number of Rules in Program" | translate }}: {{ rules.length }}</p>
                <table class="sectionElementsTable table table-striped">
                    <thead>
                        <tr>
                            <th>{{ "dos_NameElement" | translate }}</th>
                            <th>{{ "dos_DescriptionElement" | translate }}</th>
                            <th>{{ "dos_ProgramStage" | translate }}</th>
                            <th>{{ "dos_Condition" | translate }}</th>
                            <th>{{ "dos_ProgramRuleActions" | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rule in rules">
                            <td>{{ rule.name }}</td>
                            <td>{{ rule.description }}</td>
                            <td>{{ rule.programStage.name }}</td>
                            <td>{{ rule.condition }}</td>
                            <td>
                                <ul ng-if="rule.programRuleActions">
                                    <li ng-repeat="prAction in rule.programRuleActions">
                                        <div ng-switch="prAction.programRuleActionType">
                                            {{ "dos_Type" | translate }}: {{ prAction.programRuleActionType }}
                                            <div ng-switch-when="ASSIGN">
                                                <div ng-if="prAction.dataElement">
                                                    {{ "dos_DataElement" | translate }}: {{ prAction.dataElement.name }}
                                                </div>
                                                <div ng-if="prAction.trackedEntityAttribute">
                                                    {{ "dos_TrackedEntityAttributes" | translate }}:
                                                    {{ prAction.trackedEntityAttribute.name }}
                                                </div>
                                                <div ng-if="prAction.content">
                                                    {{ "dos_ProgramRuleVariableAssign" | translate }}:
                                                    {{ prAction.content }}
                                                </div>
                                                <div ng-if="prAction.data">
                                                    {{ "dos_Expression" | translate }}: {{ prAction.data }}
                                                </div>
                                            </div>
                                            <div ng-switch-when="DISPLAYKEYVALUEPAIR">
                                                <div ng-if="prAction.location">
                                                    {{ "dos_DisplayWidget" | translate }}: {{ prAction.location }}
                                                </div>
                                                <div ng-if="prAction.content">
                                                    {{ "dos_KeyLabel" | translate }}: {{ prAction.content }}
                                                </div>
                                                <div ng-if="prAction.data">
                                                    {{ "dos_Expression" | translate }}: {{ prAction.data }}
                                                </div>
                                            </div>
                                            <div ng-switch-when="DISPLAYTEXT">
                                                <div ng-if="prAction.location">
                                                    {{ "dos_DisplayWidget" | translate }}: {{ prAction.location }}
                                                </div>
                                                <div ng-if="prAction.content">
                                                    {{ "dos_StaticText" | translate }}: {{ prAction.content }}
                                                </div>
                                                <div ng-if="prAction.data">
                                                    {{ "dos_Expression" | translate }}: {{ prAction.data }}
                                                </div>
                                            </div>
                                            <div ng-switch-when="ERRORONCOMPLETE">
                                                <div ng-if="prAction.dataElement">
                                                    {{ "dos_DataElement" | translate }}: {{ prAction.dataElement.name }}
                                                </div>
                                                <div ng-if="prAction.trackedEntityAttribute">
                                                    {{ "dos_TrackedEntityAttributes" | translate }}:
                                                    {{ prAction.trackedEntityAttribute.name }}
                                                </div>
                                                <div ng-if="prAction.content">
                                                    {{ "dos_StaticText" | translate }}: {{ prAction.content }}
                                                </div>
                                                <div ng-if="prAction.data">
                                                    {{ "dos_Expression" | translate }}: {{ prAction.data }}
                                                </div>
                                            </div>
                                            <div ng-switch-when="SHOWERROR">
                                                <div ng-if="prAction.dataElement">
                                                    {{ "dos_DataElement" | translate }}: {{ prAction.dataElement.name }}
                                                </div>
                                                <div ng-if="prAction.trackedEntityAttribute">
                                                    {{ "dos_TrackedEntityAttributes" | translate }}:
                                                    {{ prAction.trackedEntityAttribute.name }}
                                                </div>
                                                <div ng-if="prAction.content">
                                                    {{ "dos_StaticText" | translate }}: {{ prAction.content }}
                                                </div>
                                                <div ng-if="prAction.data">
                                                    {{ "dos_Expression" | translate }}: {{ prAction.data }}
                                                </div>
                                            </div>
                                            <div ng-switch-when="SHOWWARNING">
                                                <div ng-if="prAction.dataElement">
                                                    {{ "dos_DataElement" | translate }}: {{ prAction.dataElement.name }}
                                                </div>
                                                <div ng-if="prAction.trackedEntityAttribute">
                                                    {{ "dos_TrackedEntityAttributes" | translate }}:
                                                    {{ prAction.trackedEntityAttribute.name }}
                                                </div>
                                                <div ng-if="prAction.content">
                                                    {{ "dos_StaticText" | translate }}: {{ prAction.content }}
                                                </div>
                                                <div ng-if="prAction.data">
                                                    {{ "dos_Expression" | translate }}: {{ prAction.data }}
                                                </div>
                                            </div>
                                            <div ng-switch-when="WARNINGONCOMPLETE">
                                                <div ng-if="prAction.dataElement">
                                                    {{ "dos_DataElement" | translate }}: {{ prAction.dataElement.name }}
                                                </div>
                                                <div ng-if="prAction.trackedEntityAttribute">
                                                    {{ "dos_TrackedEntityAttributes" | translate }}:
                                                    {{ prAction.trackedEntityAttribute.name }}
                                                </div>
                                                <div ng-if="prAction.content">
                                                    {{ "dos_StaticText" | translate }}: {{ prAction.content }}
                                                </div>
                                                <div ng-if="prAction.data">
                                                    {{ "dos_Expression" | translate }}: {{ prAction.data }}
                                                </div>
                                            </div>
                                            <div ng-switch-when="HIDEFIELD">
                                                <div ng-if="prAction.dataElement">
                                                    {{ "dos_DataElement" | translate }}: {{ prAction.dataElement.name }}
                                                </div>
                                                <div ng-if="prAction.trackedEntityAttribute">
                                                    {{ "dos_TrackedEntityAttributes" | translate }}:
                                                    {{ prAction.trackedEntityAttribute.name }}
                                                </div>
                                                <div ng-if="prAction.content">
                                                    {{ "dos_CustomMessageBlankedField" | translate }}:
                                                    {{ prAction.content }}
                                                </div>
                                            </div>
                                            <div ng-switch-when="HIDEOPTION">
                                                <div ng-if="prAction.dataElement">
                                                    {{ "dos_DataElement" | translate }}: {{ prAction.dataElement.name }}
                                                </div>
                                                <div ng-if="prAction.trackedEntityAttribute">
                                                    {{ "dos_TrackedEntityAttributes" | translate }}:
                                                    {{ prAction.trackedEntityAttribute.name }}
                                                </div>
                                                <div ng-if="prAction.content">
                                                    {{ "dos_OptionToHide" | translate }}: {{ prAction.option.name }}
                                                </div>
                                            </div>
                                            <div ng-switch-when="HIDEOPTIONGROUP">
                                                <div ng-if="prAction.dataElement">
                                                    {{ "dos_DataElement" | translate }}: {{ prAction.dataElement.name }}
                                                </div>
                                                <div ng-if="prAction.trackedEntityAttribute">
                                                    {{ "dos_TrackedEntityAttributes" | translate }}:
                                                    {{ prAction.trackedEntityAttribute.name }}
                                                </div>
                                                <div ng-if="prAction.content">
                                                    {{ "dos_OptionGroupToHide" | translate }}: {{ prAction.option.name }}
                                                </div>
                                            </div>
                                            <div ng-switch-when="HIDEPROGRAMSTAGE">
                                                <div ng-if="prAction.programStage">
                                                    {{ "dos_OptionstageToHide" | translate }}:
                                                    {{ prAction.programStage.name }}
                                                </div>
                                            </div>
                                            <div ng-switch-when="HIDESECTION">
                                                <div ng-if="prAction.programStageSection">
                                                    {{ "dos_OptionstageSectionToHide" | translate }}:
                                                    {{ prAction.programStageSection.name }}
                                                </div>
                                            </div>
                                            <div ng-switch-when="SETMANDATORYFIELD">
                                                <div ng-if="prAction.dataElement">
                                                    {{ "dos_DataElement" | translate }}: {{ prAction.dataElement.name }}
                                                </div>
                                                <div ng-if="prAction.trackedEntityAttribute">
                                                    {{ "dos_TrackedEntityAttributes" | translate }}:
                                                    {{ prAction.trackedEntityAttribute.name }}
                                                </div>
                                            </div>
                                            <div ng-switch-when="SCHEDULEMESSAGE">
                                                <div ng-if="prAction.data">
                                                    {{ "dos_DateToSendMessage" | translate }}: {{ prAction.data }}
                                                </div>
                                                <div ng-if="prAction.template">
                                                    {{ "dos_MessageTemplate" | translate }}: {{ prAction.template }}
                                                </div>
                                            </div>
                                            <div ng-switch-when="SENDMESSAGE">
                                                <div ng-if="prAction.template">
                                                    {{ "dos_MessageTemplate" | translate }}: {{ prAction.template }}
                                                </div>
                                            </div>
                                            <div ng-switch-when="SHOWOPTIONGROUP">
                                                <div ng-if="prAction.dataElement">
                                                    {{ "dos_DataElement" | translate }}: {{ prAction.dataElement.name }}
                                                </div>
                                                <div ng-if="prAction.trackedEntityAttribute">
                                                    {{ "dos_TrackedEntityAttributes" | translate }}:
                                                    {{ prAction.trackedEntityAttribute.name }}
                                                </div>
                                                <div ng-if="prAction.optionGroup">
                                                    {{ "dos_OptionGroupToShow" | translate }}:
                                                    {{ prAction.optionGroup.name }}
                                                </div>
                                            </div>
                                            <div ng-switch-default></div>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-12" id="RuleVariablesContainer" ng-controller="dossiersProgramRuleVariablesController">
            <div ng-if="ruleVariables.length > 0" class="col-md-12">
                <h3 class="section" id="ruleVariables">{{ "dos_ProgramRulesVariables" | translate }}</h3>
                <p>{{ "dos_ProgramRulesVariablesNumber" | translate }}: {{ ruleVariables.length }}</p>
                <table class="sectionElementsTable table table-striped">
                    <thead>
                        <tr>
                            <th>{{ "dos_NameElement" | translate }}</th>
                            <th>{{ "dos_SourceType" | translate }}</th>
                            <th>{{ "dos_ProgramStage" | translate }}</th>
                            <th>{{ "dos_DataElement" | translate }}</th>
                            <th>{{ "dos_TrackedEntityAttributes" | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="var in ruleVariables">
                            <td>{{var.name}}</td>
                            <td>{{var.programRuleVariableSourceType}}</td>
                            <td>{{var.programStage.name}}</td>
                            <td>{{var.dataElement.name}}</td>
                            <td>{{var.trackedEntityAttribute.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
