.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.modal td {
    height: unset;
    vertical-align: middle;
}

.modal-header .close {
    font-size: 2.5rem;
}

.modal .pre-scrollable {
    max-height: 600px;
}

.sharingSettings {
    font-size: 14px;
}

.sharingSettings .table > tbody > tr.child > td:first-of-type {
    padding-left: 2.5em;
}

.sharingSettings .table > tbody > tr:not(.child) > td:first-of-type {
    font-weight: bold;
    padding-left: 1em;
}

.sharingSettings .table > tbody > tr > td:not(:first-of-type),
.sharingSettings .table > thead > tr > th:not(:first-of-type) {
    text-align: center;
    width: 1%;
    white-space: nowrap;
}

.sharingSettings .table {
    margin-top: 1em;
}

#dossierProgramsPanel .sharingSettings .table th {
    position: static;
}

#searchSharingSettings {
    margin-left: 1em;
}